@media screen and (max-width: 2540px) {
    body{
        height: 90vh;
        background-image: url(./assets/images/Deer-wallpaper.jpg);
        background-repeat: no-repeat;
        background-size:75%;
        background-position: 500px 60px;
        background-color: rgb(234, 234, 234);
    }
    .menu-icon{
        display: none;
    }
}
@media screen and (max-width: 1105px) {
    body{
        height: 90vh;
        background-image: url(./assets/images/Deer-wallpaper.jpg);
        background-repeat: no-repeat;
        background-size:75%;
        background-position: 500px 200px;
        background-color: rgb(234, 234, 234);
    }
    .menu-icon{
        display: none;
    }
    .cards-container{
        width: 80%;
        height: 520px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: var(--primary-color) 6px solid ;
        border-radius: 25px;
        background-color: #C0B7B1;
        box-shadow: 5px 5px 20px black;    
    }
    .article-content{
        width: 400px;
        height: 350px;
        margin-left: 180px;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .icon-container{
        display: none;
      }
}

@media screen and (max-width: 999px) {

    body{
        background-image: none;
    }

    .cards-container{
        width: 50%;
        height: 520px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: var(--primary-color) 6px solid ;
        border-radius: 25px;
        background-color: #C0B7B1;
        box-shadow: 5px 5px 20px black;    
    }
      article{
    width: 90vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
  }
  .article-content{
    width: 400px;
    height: 350px;
    margin-left:100px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 885px) {

    ul{
      display: none;
    }
    
}
@media screen and (max-width: 481px) {

    .cards-container{
        width: 70%;
        height: 520px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: var(--primary-color) 6px solid ;
        border-radius: 25px;
        background-color: #C0B7B1;
        box-shadow: 5px 5px 20px black;    
    }
    .article-content{
        width: 400px;
        height: 350px;
        margin-left:auto;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}